flows.json
[{"id":"189604e6.d2da0b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2520289e.b793c8","type":"ui_form","z":"189604e6.d2da0b","name":"","label":"","group":"e1448cb3.287e3","order":1,"width":"14","height":"4","options":[{"label":"Enter the query","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":140,"wires":[["25e464f2.5c26cc"]]},{"id":"25e464f2.5c26cc","type":"function","z":"189604e6.d2da0b","name":"","func":"msg = {\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\": msg.payload.Input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["22474e6b.3d7012"]]},{"id":"22474e6b.3d7012","type":"watson-discovery-v1","z":"189604e6.d2da0b","name":"NewsApp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/5932de0b-eafb-46b7-a7de-f1b29342f3c3","x":440,"y":120,"wires":[["10ab80a.21b217f","a86d6328.e2ec8","8b67b0fa.8a42e","bae2539c.cf50a","4f73adde.355a14","f18a7ccf.7ae5d","d0d860fc.29f55"]]},{"id":"10ab80a.21b217f","type":"function","z":"189604e6.d2da0b","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":40,"wires":[["a8831db2.18e5d","b777a670.9480c8","25113291.dac88e"]]},{"id":"a8831db2.18e5d","type":"debug","z":"189604e6.d2da0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":80,"wires":[]},{"id":"b777a670.9480c8","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":2,"width":"14","height":"2","name":"","label":"Results","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":40,"wires":[]},{"id":"a86d6328.e2ec8","type":"debug","z":"189604e6.d2da0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":40,"wires":[]},{"id":"8b67b0fa.8a42e","type":"function","z":"189604e6.d2da0b","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["e610291a.498de8"]]},{"id":"e610291a.498de8","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":3,"width":"14","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":200,"wires":[]},{"id":"bae2539c.cf50a","type":"function","z":"189604e6.d2da0b","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["9eda15d1.c6ac88","574e70dd.0d6a2"]]},{"id":"9eda15d1.c6ac88","type":"ui_gauge","z":"189604e6.d2da0b","name":"","group":"e1448cb3.287e3","order":5,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":280,"wires":[]},{"id":"574e70dd.0d6a2","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":6,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":240,"wires":[]},{"id":"ff0b74b9.a08da8","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":7,"width":"14","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":320,"wires":[]},{"id":"4f73adde.355a14","type":"function","z":"189604e6.d2da0b","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["ff0b74b9.a08da8"]]},{"id":"6098f29d.8903bc","type":"ui_chart","z":"189604e6.d2da0b","name":"","group":"e1448cb3.287e3","order":8,"width":"0","height":"0","label":"sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":420,"wires":[[]]},{"id":"f18a7ccf.7ae5d","type":"function","z":"189604e6.d2da0b","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["5c0e433e.c5d76c"]]},{"id":"5c0e433e.c5d76c","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":4,"width":"14","height":"2","name":"","label":"author","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":120,"wires":[]},{"id":"25113291.dac88e","type":"sentiment","z":"189604e6.d2da0b","name":"","property":"payload","x":280,"y":480,"wires":[["c3ba15fb.1d7e78","f6d149fc.f51f38","8b2160ac.a33e9","235d991c.63e216"]]},{"id":"c3ba15fb.1d7e78","type":"function","z":"189604e6.d2da0b","name":"sentiment","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["6098f29d.8903bc"]]},{"id":"f6d149fc.f51f38","type":"function","z":"189604e6.d2da0b","name":"positive","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["228ef94.83a4706"]]},{"id":"8b2160ac.a33e9","type":"function","z":"189604e6.d2da0b","name":"negative","func":"msg.payload=msg.sentiment.negative.length;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["5dab775f.f4d228"]]},{"id":"228ef94.83a4706","type":"ui_chart","z":"189604e6.d2da0b","name":"","group":"e1448cb3.287e3","order":8,"width":"0","height":"0","label":"positive chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":480,"wires":[[]]},{"id":"5dab775f.f4d228","type":"ui_chart","z":"189604e6.d2da0b","name":"","group":"e1448cb3.287e3","order":9,"width":"0","height":"0","label":"negative chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":540,"wires":[[]]},{"id":"d0d860fc.29f55","type":"function","z":"189604e6.d2da0b","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":160,"wires":[["19f3fdf1.39a822"]]},{"id":"19f3fdf1.39a822","type":"ui_text","z":"189604e6.d2da0b","group":"e1448cb3.287e3","order":10,"width":"14","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":160,"wires":[]},{"id":"235d991c.63e216","type":"debug","z":"189604e6.d2da0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":360,"wires":[]},{"id":"e1448cb3.287e3","type":"ui_group","z":"","name":"News Search App","tab":"3f22a7e6.ad6ae8","order":1,"disp":true,"width":"14","collapse":false},{"id":"3f22a7e6.ad6ae8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]